/node_modules
Homestead.yaml
Homestead.json
.idea/
.bundle/
bower_components
/bootstrap/cache/
/vendor/
/storage/
composer.phar
composer.lock
.env
.DS_Store
Thumbs.db
.*.swp
*.log
*~
*.map
resources/assets/bower
