@import 'constants';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);

@import url(https://fonts.googleapis.com/css?family=Raleway:400,600,300,700);

html {
    background: url('/images/paper_texture.png');
    font-family: "Raleway";
    color: $white;
}

body {
  font-family: "Raleway";
  color: $dove-gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway";
  font-weight: bold;
  color: $sushi-green;
}

p {
  color: $dove-gray;
}

a {
  color: $sushi-green;
}

a:hover, a:active, a:focus {
    color: $finch-green;
}

form {
    background: url('/images/paper_texture.png');
}

tr {
    background: $white;
}


.dropdown.open button {
  background-color: $limeade-green !important;
  color: #fff !important;
}

.dropdown.open button:hover {
  background-color: $limeade-green !important;
  color: #fff !important;
}

/**
 * Navbar
 */
.navbar-default .navbar-brand {
    color: $white;
}

.navbar-default a .fa, .caret {
    color: $white;
}

.fa-2 {
    font-size: 2em;
}

.navbar-default .navbar-nav>li>a {
  font-size: 18px;
}

nav.navbar.navbar-default .fa {
  color: $sushi-green;
}

.navbar-default .navbar-brand:hover {
  color: $white;
}

.menu-toggle {
    background-color: inherit;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0px;
    float: left;
    padding: 12px 15px;
    line-height: 20px;
}

a.menu-toggle:focus, a.menu-toggle:hover {
    color: transparent;;
}

.menu-toggle.sidebar-open {
    display: none;
}

#user-options .dropdown-menu .fa {
    color: $sushi-green;
}

#user-options > li.dropdown {
    float: left;
    padding: 5%;
    border-left: 1px solid rgba(0,0,0, 0.1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
}

.navbar-collapse {
  padding-left: 0px;
  padding-right: 0px;
}

#navbar-logo {
  float: left;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: rgba(255,255,255,0.2) !important;
}

.navbar-default {
  background: $white;
  margin-bottom: 0px;
  border: none;
  border-radius: 0px;
}

/* Sidebar Styles */

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  height: 100%;
  min-height: 100%;
  width: 16.66666667%;
  left: 0;
  overflow-y: auto;
  background: $finch-green;
}

.sidebar-nav {
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  font-size: 14px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: $white;
    font-size: 15   px;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: $white;
    background: rgba(255,255,255,0.2);
}

a i.fa {
    display: inline;
    padding-right: 7%;
}

li#plan-li a i.fa {
  padding-right: 6%;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: $dark-grey;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: $white;
    background: none;
}

.sidebar-menu-divider {
    border-bottom: 1px solid $kelp-green;
}

.sidebar-menu-item-active {
    border-left: 4px solid $kelp-green;
    padding-left: 2px !important;
    background: $sushi-green;
}

.sidebar-menu-item-active:hover {
  background: $sushi-green;
}

i.fa.fa-lock {
    vertical-align: middle;
    margin-left: 2px;
    font-size: 10px;
    padding-right: 0px;
    margin-right: -5px;
}

.fa {
    height: 25px;
    width: auto;
}

img.plant-library, img.pests-library, img.procedure-library, img.plant-category {
    vertical-align: middle;
    height: 30px;
    margin-left: -5px;
    width: auto;
    padding-right: 5%;
}

.sidebar-nav li {
    padding-left: 6px;
}

.sidebar-nav li:hover {
    border-left:  4px solid $kelp-green;
    padding-left: 2px;
    background: $sushi-green;
}

/**
 * Main Content
 */

.page-header {
    border-bottom: solid 1px $finch-green;
}

#main-content {
  color: $black;
  background: url('/images/paper_texture.png');
}

#main-content {
    color: $black;
    font-size: 18px;
}

.btn-primary {
  background: $btn-primary;
}

.btn-primary:hover {
    background: #337ab7;
}

.btn-danger {
    background-color: $btn-danger;
}

.btn-danger:hover {
    background-color: #c93000;
}

.btn-success, .btn-primary {
    color: $white;
    background-color: $moderate-green;
    border-color: #8fc637;
}

.table-filter {
    display: inline-block;
    float: right;
    width: 40%;
}

.table {
    margin-top: 5%;
}

::-webkit-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}
::-moz-placeholder::before  {
    font-family: fontAwesome;
    content:'\f002  ';
} /* firefox 19+ */

:-ms-input-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
} /* ie */

input:-moz-placeholder::before {
    font-family: fontAwesome;
    content:'\f002  ';
}

.primary-name {
    color: $dark-green;
}

.primary-name:hover {
    color: $dark-green;
    text-decoration: none;
}

th.header {
    position: relative;
}

th.header:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f0dc";
}

th.header.headerSortUp:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f0de";
}

th.header.headerSortDown:after {
    font-family: "FontAwesome";
    padding-left: 5px;
    content: "\f0dd";
}

span.validation-error {
    font-size: 15px;
    color: #E71D36;
}

nav.navbar.navbar-default {
    left: 0;
    top: 0;
    z-index: 1000;
    height: auto;
    width: 100%;
    position: fixed;
    padding: 10px 0px;
}

#content-body {
    z-index: 800;
    position: relative;
}

label {
    font-weight:200;
    font-size:16px;
}
.m-t-10 {
    margin-top: 10px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.row.well {
    margin-left: 0px;
    margin-right:0px;
    position: relative;
}

.file-upload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.file-upload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

div#add-new-image-fields {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 10px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

div#add-new-image-fields .fa {
    height: auto;
    width: auto;
    font-size: 20px;
}

.other-images-input-group {
    display: flex;
    align-items: center;
}

.remove-field-wrapper {
    position: relative;
    top: 5px;
}

.row .well {
    margin-left: 0px;
    margin-right: 0px;
}

.ms-ctn .ms-sel-item {
    color: $black;
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    background: $moderate-green;
}

.payment-toggle {
    background-color: $moderate-green;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
}

.payment-name {
    text-decoration: none;
    color: $white;
    font-size: 18px;
}

div#main-content .well {
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
}

.form-group-header {
    padding: 0px 34px;
}

.form-group-header-h1 {
    padding: 0px 50px;
}

.form-button {
    margin-left: 46px;
}

.selectize-control.single {
    height: 34px;
}

.white {
    background: $white !important;
}

.modal-dialog.modal-lg {
    position: relative;
    right: 6%;
}

/* File Input */
.btn-file {
    position: relative;
    overflow: hidden;
    display: block;
    width: 40%;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

/* Padding classes */
.no-gutter {
    padding-left: 0px;
    padding-right: 0px;
}

.p-r-0 {
    padding-right: 0px;
}

.panel-primary {
    border-color: $moderate-green;
}

.panel-primary > .panel-heading {
    background-color: $moderate-green;
    border-color: $moderate-green;
    background-image: none;
}

.inline-block {
    display: inline-block;
}

.clearfix {
    content: " ";
    display: block;
    height: 0;
    position: relative;
    clear: both;
}

.margin-topbottom-20-10 {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*
 * Plant Library - Edit Plant
 */
.modal-backdrop.fade.in {
    display: none;
}

.modal-dialog {
    margin-top: 10%;
    margin-left: 40%;
}


/*
 * Modal Styles
 */

.modal-backdrop.fade.in {
    display: none;
}

.modal-dialog {
    margin-top: 10%;
    margin-left: 40%;
}

/**
 * Main Content
 */
.paper-texture-background {
    background: url('/images/paper_texture.png');
}

/**
 * Pagination
 */

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: $finch-green;
  border-color: $finch-green;
}

.pagination>li>a,
.pagination>li>span {
  color: $sushi-green;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover {
    color: $finch-green;
}

/*
 * Twitter Typeahead
 */

.tt-query {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
    color: #999
}

.tt-menu {    /* used to be tt-dropdown-menu in older versions */
    width: 422px;
    margin-top: 4px;
    padding: 4px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    line-height: 24px;
}

.tt-suggestion.tt-cursor,.tt-suggestion:hover {
    color: #fff;
    background-color: $sushi-green;
}

.tt-suggestion p {
    margin: 0;
}

.dropzone {
    border: 2px dashed $moderate-green;
    border-radius: 5px;
    min-height: 100px;
    padding: 50px 50px;
    box-sizing: border-box;
}


/**
 * User Journal Entries
 */

.journals-admin-container .row {
  margin: 0 0 70px 0;
  border: solid 1px $limeade-green;
  position: relative;
}

.journal-header-search .twitter-typeahead {
  float: right;
}

.journal-filters {
  width: 100%;
  margin-left: 0px;
}

.journal-filters > * {
  display: inline-block;
}

.journals-admin-container ul {
  list-style: none;
  padding: 0px;
}

.journals-admin-container ul li {
  display: inline-block;
}

.journal-relationships > p {
  display: inline-block;
}

.journal-meta {
  border-bottom: solid 1px $limeade-green;
}

.journal-thumbnail {
  padding: 0px;
}

.journal-thumbnail img {
  width: 100%;
}

.journal-header-search > * {
  display: inline-block;
}

.date-filter > * {
  display: inline-block;
}

.journal-filters .sort-by {
  text-align: right;
}

#findJournal {
  position: relative;
  top: 10px;
  margin: 20px;
}

.journal-filters .btn-default:hover {
  background-color: $sushi-green !important;
}

.library-filter button {
  width: 100%;
}

.journal-filters .btn .caret {
  color: #000;
}

.user-filter > * {
  display: block;
}

.user-filter > span > input {
  height: 34px;
  top: 1px;
  vertical-align: inherit !important;
}

.journal {
  padding: 0px;
  height: 255px;
}

.journal-title > * {
  display: inline-block;
}

.journal-meta > * {
  padding: 0px 10px;
}

.journal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.journal-content p {
  padding: 0px 10px;
  margin: 0;
}

.journal-actions {
  position: absolute;
  right: -1px;
  bottom: -40px;
  width: 300px;
  display: flex;
}

.journal-actions > a {
  width: 50%;
  height: 40px;
  border-radius: 0px;
  border-top: solid 1px $limeade-green;
}