/**
 * Colors
 */

$finch-green: #515E3F;

$kelp-green: #404d31;

$sushi-green: #8dc53e;

$limeade-green: #55a500;

$moderate-green: #8ec545;

$strong-red: #c9302c;

$dark-green: #55a500;

$dove-gray: #696969;

$white: #fff;

$black: #000;

$dark-grey: #999999;

$btn-danger: #d91e60;

$btn-primary: #167fd9;