$westar: #E2E0D7;

$white: #FFF;

$dove-gray: #696969;

$finch-green: #515E3F;

$sushi-green: #8DC53D;

$limeade-green: #55A500;

$woodland-green: #41512D;

$rangitoto-green: #363E28;

$crimson: #DD182A;

$cape-honey: #FFEBAA;

$twitter: #55acee;

$facebook: #3b5998;

$instagram: #3f729b;

$pinterest: #bd081c;

