<footer class="footer">
    <div class="container footer-top">
        <div class="row">
            <div class="col-md-3">
                <h4 class="footer-section-title">Browse</h4>
            </div>
            <div class="col-md-3">
                <h4 class="footer-section-title">Tools</h4>
            </div>
            <div class="col-md-3">
                <h4 class="footer-section-title">Section</h4>
            </div>
            <div class="col-md-3">
                <h4 class="footer-section-title">Contact</h4>
            </div>
        </div>
    </div>
    <div class="container footer-bottom">
        <div class="row">
            <div class="col-md-6 terms-privacy">
                <ul>
                    <li><a>Terms Of Use</a></li>
                    <li><a>Community Rules</a></li>
                    <li><a>Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-md-6 copy-right">
                <p>
                    &copy; Garden Revolution. All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</footer>